@model DataAccessLayer.User
@{
    ViewBag.Title = "Index";
    Layout = null;
}
    <body>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
   @Html.EditorForModel()
    <input type="submit" value="Login"/>
}
        </body>

