@model DataAccessLayer.Models.Login
@{
    ViewBag.Title = "Login";
}
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body id="login">
    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "auth" })) {
        <table class="auth">
            <tr>

                <td>
                    <h2>Login</h2>
                    Username
                    <br />
                    <br />
                    @Html.TextBoxFor(m => m.UserName)
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    Password
                    <br />
                    <br />
                    @Html.PasswordFor(m => m.Password)
                    <br />
                </td>

            <tr>
                <td id="submit">
                    <input type="Submit" value="Login" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ValidationSummary()
                </td>
            </tr>
        </table>
    }
    <script>
        LogInInfo = ("@ViewBag.Login");
    </script>
</body>
</html>


