@model DataAccessLayer.Models.Login
@{
    ViewBag.Title = "Login";
}
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body id="login">
    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        <table >
            <tr>
                <td>
                    Username
                    <br />
                    <br />
                    @Html.TextBoxFor(m => m.UserName)
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    Password
                    <br />
                    <br />
                @Html.PasswordFor(m => m.Password)
                    <br />
                </td>

            <tr>
                <td id="submit">
                    <input type="Submit" value="Login" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ValidationSummary()
                </td>
            </tr>
        </table>
       


    }
    <script>
        @Html.Raw(ViewBag.Msg);
    </script>
</body>
</html>


