@model DataAccessLayer.Models.CustomerProfile
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomerEditProfile</title>
</head>
<body>
    @using (Html.BeginForm("EditProfile", "Profile", FormMethod.Post))
    {
        @Html.TextBoxFor(g => g.UserName, new { @value = Model.UserName })
        @Html.TextBoxFor(g => g.Contact, new { @value = Model.Contact })
        @Html.TextBoxFor(g => g.Location, new { @value = Model.Location })
        @Html.TextBoxFor(g => g.BankFk, new { @value = Model.BankFk })
    }
</body>
</html>
