@model DataAccessLayer.Models.UserInfoModel
@{
    Layout = null;
    ViewBag.Title = "ViewProfile";
}

<html>
<head>

</head>
<body>

    <div>
        <b>@Model.UserName</b>
        <h1>@Model.Contact</h1>
        <h2>@Model.Location</h2>
        
    </div>
</body>
</html>

