@model DataAccessLayer.Models.UserInfoModel
@{

    ViewBag.Title = "ViewProfile";
}


    <div>
       
        <br /><b>Username: @Model.UserName</b>
        
        <h1>@Model.Contact</h1>
        <h2>@Model.Location</h2>
        
    </div>


