
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>
<body>
    <h1> <a href="../CustomerDashboard/ViewServices">Place Order</a></h1>
    <h1> <a href="../CustomerDashboard/PreviousOrder">Previous Order</a></h1>
</body>
</html>
