<div class="Dashboard">
    <h2>Customer Dashboard..</h2>
    <div class="a"><a href="../CustomerDashboard/ViewServices">Place Order</a></div>
    <div class="a"><a href="../CustomerDashboard/MyOrders">Previous Order</a></div>
    <div class="a"><a href="~/Profile/ViewProfile">My Profile</a></div>
</div>
<h3>v @ViewBag.Login</h3>
<script>
    LogInInfo = ("@ViewBag.Login");
</script>