@{ 
    ViewBag.Title = "Select Service";
}
    <div>
        <h2>Select the service you need</h2>
        @using (Html.BeginForm("ViewServiceProvider", "CustomerDashboard", FormMethod.Post)) {
            @Html.DropDownList("Service", (SelectList)ViewBag.result)
            <input type="submit" value="Select" />
        }
    </div>
