
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PlaceOrder</title>
</head>
<body>
    @using (Html.BeginForm("ViewServiceProvider", "CustomerDashboard", FormMethod.Post))
    {
        @Html.DropDownList("Service", (SelectList)ViewBag.result)
        <input type="submit" value="Select" />
    }
</body>
</html>
