
@{
    Layout = null;
}

    <div id="header-content">
        <h1>Home Services</h1>
        <nav id="header-nav">
            <a href="#">Home</a>
            <a href="~/Login/Login" id="LogIn">Login</a>
            <a href="~/Register/customer" id="C_Register">C Register</a>
            <a href="~/Register/ServiceProvider" id="SP_Register">SP Register</a>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
        </nav>
    </div>