
@{
    Layout = null;
}
<div id="header-content">
    <h1>Services</h1>
    <nav id="header-nav">
        <a>Home</a>
        <a>Login</a>
        <div>
            <a href="~/Login/Login">Logout</a>
        </div>
        <a>Register</a>
        <a>About Us</a>
        <a>Contact Us</a>
    </nav>
</div>