
@{
    ViewBag.Title = "Dashboard";
}
<a href="~/Admin/AddorRemoveServices">Add/Remove Services</a><br />
<a href="~/Admin/RemoveInvalidUsers">Remove Invalid Users</a><br />
<h2>Dashboard</h2>

