<div class="Dashboard">
    <h2>Welcome Admin!..</h2>
    <div class="a"><a href="~/Admin/AddService">Add Service</a></div>
    <div class="a"><a href="~/Admin/RemoveService">Remove Service</a></div>
</div>
<script>
</script>