
@{
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body id="admin">
    <h2>Welcome Admin!..</h2>
    <div class="a" ><a href="~/Admin/AddService">Add Service</a></div>
    <div class="a"><a href="~/Admin/RemoveService">Remove Service</a></div>
    <script>
        @Html.Raw(ViewBag.Result);
    </script>
</body>
</html>
