@{
    Layout = null;
    ViewBag.Title = "Index";
}
<html>
<head>
    <link href="~/Content/Common.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        @{ Html.RenderAction("Header", "Design"); }
    </header>
    <article>
        
    </article>
    <footer>

        @{ Html.RenderAction("Footer", "Design"); }
    </footer>
</body>
</html>


