
<div class="Dashboard">
    <h2>Service Provider Dasboard</h2>
    <div class="a"><a href="~/Provider/Receivedorder">Received Order</a></div>
    <div class="a"><a href="~/Provider/PreviousOrder">Previous Order</a></div>
    <div class="a"><a href="~/Profile/ViewProfile">My Profile</a></div>
</div>
